:root {
  --background-color: #F4F7FA;
  --text-color: #F9FAFB;
  --hover-color: #D1D5DB;
  --action-color: #3B82F6;
  --object-color: #1F2A44;
  --text-color-black: #111827;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  background-color: var(--background-color);
  padding: 0 20px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 10px #11182760;
  border-radius: 0px 0px 10px 10px;
}

.navbar-left button {
  display: inline-block;
  background: inherit;
  border-radius: 5px;
  color: var(--text-color-black);
  font: 20px Arial, san-serif;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  transition: color 300ms ease-in-out, background 400ms ease-in-out, transform 300ms ease;
  margin: 0px 10px;
}

.navbar-left button:hover {
    color: var(--action-color);
    background-color: #3B82F615;
    transform: scale(1.1);
}

.navbar-right-item {
  cursor: pointer;
  padding: 0px 20px;
  font-weight: bold;
  border-radius: 5px;
  background:
    linear-gradient(
      to right,
      rgba(59, 130, 246, 0.2),
      rgba(59, 130, 246, 0.2)
    );
    background-size: 0 100%;
    background-position: 0 100%;
    background-repeat: no-repeat;
    color: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.0);
  transition: background-size 200ms ease-in, color 300ms ease-in, box-shadow 400ms ease-out, transform 300ms ease;
}

.navbar-right-item:hover {
  background-size: 100% 100%;
  color: var(--action-color);
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
