:root {
    --background-color: #F4F7FA;
    --text-color: #F9FAFB;
    --hover-color: #D1D5DB;
    --action-color: #3B82F6;
    --object-color: #1F2A44;
    --text-color-black: #111827;
}


/*Container Style*/

.ads-container {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100%);
    background-color: var(--text-color-black);
    border: 1px solid var(--background-color);
    border-radius: 5px;
    overflow: visible;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.25s ease;
    z-index: 1;
}

.ads-container--hide {
<<<<<<< Updated upstream
  width: 32px;
  border-radius: 5px;
}

.ads-container--show {
  width: 390px;
  border-radius: 10px;
  overflow-x: hidden;
=======
    width: 0px;
    border-radius: 5px;
}

.ads-container--show {
    width: 390px;
    border-radius: 10px;
>>>>>>> Stashed changes
}

.ads-header {
    display: flex;
    width: 100%;
    padding: 16px;
}

.ads-icon-button {
<<<<<<< Updated upstream
  position: absolute;
  background: var(--text-color-black);
  color: var(--text-color);
  border: 1px solid var(--background-color);
  border-radius: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px;
  transform: translateX(-85%);
  transition: all 0.25s ease;
=======
    position: absolute;
    background: var(--text-color-black);
    color: var(--text-color);
    border: 1px solid var(--background-color);
    border-radius: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 10px;
    transform: translateX(-100%);
    transition: all 0.25s ease;
>>>>>>> Stashed changes
}

.ads-icon-button--expanded {
    position: relative;
    width: 40px;
    height: 40px;
    background: var(--text-color-black);
    color: var(--text-color);
    border: 1px solid var(--background-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 24px;
    transition: all 0.25s ease;
}

.ads-icon-button:hover,
.ads-icon-button--expanded:hover {
    color: var(--text-color-black);
    border-color: var(--text-color-black);
    background-color: var(--background-color);
}

.ads-title {
    white-space: nowrap;
    position: relative;
    height: 4vh;
    overflow: hidden;
    font: bold 24px/32px Arial, Helvetica, sans-serif;
    color: var(--text-color);
    border-radius: 1px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--text-color);
    transition: width 0.4s ease, opacity 0.4s ease;
}

.ads-title--hide {
    width: 0;
    opacity: 0;
}

.ads-title--show {
    width: auto;
    opacity: 1;
}


/* Ads Point Container */

.ads-point-container {
<<<<<<< Updated upstream
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  background-color: var(--text-color);
  height: 89%;
  width: 90%;
  border: 1px solid var(--background-color);
  border-radius: 10px;
  overflow: visible;
  transition: all 0.25s ease;
=======
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    background-color: var(--text-color);
    height: 89%;
    width: 90%;
    border: 1px solid var(--background-color);
    border-radius: 10px;
    transition: all 0.25s ease;
>>>>>>> Stashed changes
}


/* Ads Point List */

.ads-points-search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 95%;
    margin: 10px 0px 5px 10px;
    padding: 5px;
    border: 1px solid var(--text-color-black);
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease;
}

.ads-points-search:hover {
    transform: scale(1.01);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.search-input {
    all: unset;
    cursor: text;
    width: 100%;
    font: bold 16px Helvetica, Arial, sans-serif;
}

.bi-search {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.ads-points-list {
    position: absolute;
    display: block;
    align-items: center;
    width: 100%;
    height: calc(100% - 6vh);
    color: #000;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: transform 1000ms ease-in-out, right 1000ms ease-in-out;
}

.ads-points-list::-webkit-scrollbar {
    width: 0px;
}


.ads-point-item {
    height: auto;
    width: 95%;
    padding: 5px 5px;
    margin: 10px;
    border: 1px solid var(--hover-color);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(31, 42, 68, 0.15);
    transition: all 250ms ease;
}

.ads-point-item:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 10px rgba(31, 42, 68, 0.5);
    color: var(--hover-color);
    background-color: var(--object-color);
}

.ads-point-item:active {
    border-color: var(--text-color-black);
}

.ads-point-title {
    margin: unset;
    font: bold 16px Roboto, sans-serif;
}

.ads-point-item__summary {
    text-wrap: nowrap;
    font-size: 12px;
}
<<<<<<< Updated upstream
.ads-point-item__image img{
  height: 80px;
  width 76px;
  justify-content: flex-end;
  border-radius: 5px;
  margin: 0 0 8px 8px;
  box-shadow: 1px 1px 10px rgba(255,255,255,0.4), -1px -1px 10px rgba(255,255,255,0.4);
  transition: all 0.2s ease;
}
.ads-point-item__image img:hover{
  box-shadow: 1px 1px 10px rgba(255,255,255,0.6), -1px -1px 10px rgba(255,255,255,0.6);
}
/* Ads Point Item Detail */
.ads-point-item-detail {

=======

.ads-point-item__image img {
    height: 80px;
    width: 76px;
    justify-content: flex-end;
    border-radius: 5px;
    margin: 0 0 8px 8px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.4), -1px -1px 10px rgba(255, 255, 255, 0.4);
    transition: all 0.2s ease;
}

.ads-point-item__image img:hover {
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.6), -1px -1px 10px rgba(255, 255, 255, 0.6);
}


/* Ads Point Item Detail */

.ads-boards-list {
    height: 61vh;
    width: 100%;
}

.ads-point-item-detail {
    margin: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ads-point-item-detail::-webkit-scrollbar {
    width: 0px;
}

.ads-point-item-details__image img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--background-color);
    box-shadow: 4px 4px 10px rgba(31, 42, 68, 0.15);
>>>>>>> Stashed changes
}
.ads-point-item-image {

<<<<<<< Updated upstream
=======
.ads-point-item-details__info {
    margin: 10px 0px;
    font: 14px Roboto, Arial, sans-serif;
    display: block;
>>>>>>> Stashed changes
}

/*
Components:
AdsContainer(OK)
    AdsPointContainer   
        AdsPointsList(search element, list-element)
            AdsPointItem
        AdsPointItemDetail
            AdsPointItem
            AdsBoardsList
                AdsBoardItem

<<<<<<< Updated upstream
AdsBoardItemDetail
*/
=======
.ads-point-item-details.not-approved {
    color: yellow;
}

.button {
    height: 100%;
    padding: 6px;
    width: 100%;
    margin: 10px;
    border-radius: 6px;
    font: bold 14px Roboto, sans-serif;
    align-content: center;
}

.button-close {
    border: 1px solid transparent;
    background-color: var(--hover-color);
    box-shadow: 2px 3px 10px rgba(0, 0, 84, 0.2);
    transition: all 0.1s linear;
}

.button-close:hover,
.button-close:focus {
    background-color: var(--text-color-black);
    color: var(--text-color);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}

.button-report {
    border: 1px solid #e71d36;
    background-color: var(--text-color);
    box-shadow: 2px 3px 10px rgba(255, 0, 84, 0.2);
    color: #e71d36;
    transition: all 0.1s ease-out;
}

.button-report:hover,
.button-report:focus {
    border: 1px solid var(--text-color);
    background-color: #e71d36;
    color: var(--text-color);
    box-shadow: 2px 3px 10px rgba(255, 0, 84, 0.6);
}
>>>>>>> Stashed changes
